/* Layout start */
.anyOneMsgBox {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  border: var(--border);
  gap: 20px;
  padding: 20px;
}
.anyOneMsgBox .left {
  width: 50%;
}
.anyOneMsgBox .right {
  width: 50%;
}
/* Layout end */

.anyOneMsgBox .reciver:not(:last-of-type) {
  margin-bottom: 20px;
}
.anyOneMsgBox input,
.anyOneMsgBox textarea {
  width: 100%;
  background: transparent;
  outline: none;
  width: 90%;
  border: var(--border);
  border-radius: 8px;
  color: var(--dark-3);
  font-size: 1.1rem;
  padding: 2px 15px;
}
.anyOneMsgBox .left .icon {
  color: var(--red);
  cursor: pointer;
  font-size: 1.6rem;
}
